.Des-U-Logo {
  background: rgb(27 150 255);
  border-radius: 4px;
  height: 33px;
  width: 33px;
  margin-left: 1px;
  margin-top: 1px;
}
.Des-assets-Logo {
  background: #ff538a;
  border-radius: 4px;
  height: 33px;
  width: 33px;
  margin-left: 1px;
  margin-top: 1px;
}
.Des-products-Logo {
  background: slateblue;
  border-radius: 4px;
  height: 33px;
  width: 33px;
  margin-left: 1px;
  margin-top: 1px;
}
