.VerifyPatientBenfitDetailsfromLead {
  width: 50vw;
  height: 50vh;
  background-color: white;
}
.vbf-lead {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.vbf-lead > button {
  margin: 9px;
  color: rgb(64, 62, 62);
}
.cross-btn-vpb {
  background: none;
  border: none;
  color: white;
  position: absolute;
  margin-left: 1112px;
  margin-top: 20px;
  font-size: 15px;
}
